button {
  position: absolute;
  width: 150px;
  height: 60px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0099ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
button:hover {background-color: #33adff}
button:active {
  background-color: #33adff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}